<template>
    <div id="app">
        <h1>Movies</h1>
        <div v-if="movies!=null">
            <div class="container">
                <fieldset>
                    <legend>Categories</legend>
                    <input id="checkbox1" type="checkbox"><label for="checkbox1">Horror</label>
                    <input id="checkbox2" type="checkbox"><label for="checkbox2">Comedy</label>
                </fieldset>
                <label>
                    <input type="text" placeholder="Search"/>
                </label>
            </div>
            <MovieCard v-for="movie in movies" 
                       :id="movie.id"
                       :title="movie.title"
                       :year="movie.year"
                       :rating="movie.rating"
                       :description="movie.description"
                       :categories="movie.movieInCategories"
            />
        </div>
        
        <div v-else>
            No movies found. <br />
            Make sure the backend project is running. <br />
            Or check api link in App.vue.
        </div>
    </div>
    
</template>

<script>
    import MovieCard from './components/MovieCard.vue'

    export default {
        name: 'app',
        components: {
          MovieCard
        },
        
        data() {
            return {
                movies: null,
            }
        },

        mounted() {
            axios.get("https://localhost:5001/api/Movies")
                .then(response => {
                    this.movies = response.data
                });
        }
    }
</script>

<style lang="scss" >
    @import "./styles.sass";

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
