<template>
    <div class="card">
        <div class="card-divider">
            <h5>{{ title }}</h5>
            Year: {{ year }} <br/>
            Rating: {{ rating }} <br/>
            Categories:
            <span v-if="categories != null">
            <span v-for="category in categories">
                {{categoryNames[category.categoryId]}}
            </span>
            </span><br/>
            <button v-if="activeId !== id" v-on:click="activeId = id">Show description</button>
            <button v-if="activeId === id" v-on:click="activeId = null">Hide description</button>

        </div>
        <div class="card-section" v-if="activeId === id">
            {{description}}
            <br />
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Movies',

        data() {
            return {
                categoryNames: ['Horror', 'Comedy'],
                activeId: null
            }
        },
        props: {
            id: Number,
            title: String,
            year: Number,
            rating: Number,
            description: String,
            categories: Array
        }
    }
</script>
