﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Movie list JSON:
        <br/><a href="/api/Movies">Movies</a>
    </p>
    <p>
        Single movie JSON:
        <br/><a href="/api/Movies/0">Movie id 0</a>
        <br/><a href="/api/Movies/1">Movie id 1</a>
        <br/><a href="/api/Movies/2">Movie id 2</a>
    </p>
</div>