<template>
  <span if.bind="movieForDetailView == null">
    <label>
      Find:
      <input type="text" value.bind="search & debounce: 200"/>
      <input type="button" value="Search" click.delegate="searchChanged()"/>
    </label>
        <label repeat.for="category of categories">
          <input type="checkbox" model.bind="category.id" checked.bind="selectedCategoryIds">${category.name}
        </label>
    <span if.bind="filteredMovies.length > 0">
    <table>
      <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Year
        </th>
        <th>
          Rating
        </th>
        <th>
          Genres
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr repeat.for="movie of filteredMovies">
        <td>
          ${movie.title}
          <input type="button" value="Details" click.delegate="fetchDetails(movie.id)"/>
        </td>
        <td>
          ${movie.year}
        </td>
        <td>
          ${movie.rating}
        </td>
        <td>
      <span repeat.for="category of movie.movieInCategories">
        ${categories[category.categoryId].name}
      </span>
        </td>
      </tr>
      </tbody>
    </table>
    </span>
    <span else>
      <p>No movies found</p>
    </span>
  </span>

  <span else>
    <h4>${movieForDetailView.title}</h4>
    <p> ${movieForDetailView.description}</p>
    <input type="button" value="Back to list" click.delegate="backToList()"/>

  </span>
</template>
